---
import Dumbbell from "../components/dumbbell.astro";
export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>100 a Day</title>
	</head>
	<body>
		<header>
			<h1><Dumbbell/> 100 a Day</h1>
		</header>

		<div id="target">
			<div class="pre-value">Time for</div>
			<div class="value">0</div>
			<div class="post-value">push-ups</div>
		</div>

		<div id="progress">
			<div class="pre-value">loading...</div>
			<div class="value"><div></div></div>
			<div class="post-value">60/100</div>
		</div>

		<form>
			<input type="number" name="logged" />
			<input type="submit" value="Log" />
		</form>

		<script is:inline>
			const config = {
				from : { hour: 5, minute: 0 },
				to : { hour: 20, minute: 0 },
				goal: 100
			};

			const units = {
				from: config.from.hour * 60 + config.from.minute,
				to: config.to.hour * 60 + config.to.minute,
			};
			units.minutesPerUnit = (units.to - units.from) / config.goal;

			const limit = (n) => Math.min(Math.max(n, 0), config.goal);

			async function refresh(logged=0) {
				let now = new Date();
				let today = new Date().toLocaleDateString();
				let projected = limit(Math.ceil((now.getHours() * 60 + now.getMinutes() - units.from) / units.minutesPerUnit));
				let completed = logged*1;

				let logs = JSON.parse(await localStorage.getItem('100aDay'));
				if (logs && logs.lastUpdated === today) {
					completed += logs.completed*1;
				}

				localStorage.setItem('100aDay', JSON.stringify({
					lastUpdated: today,
					completed: completed
				}));

				document
					.querySelector("#target > .value")
					.setHTMLUnsafe(`${limit(projected-completed)}`);
				document
					.querySelector("#progress > .pre-value")
					.setHTMLUnsafe(completed < config.goal ?
						`${limit(config.goal-completed)} push-ups to go` :
						`You did it! 🎉 ${completed} push-ups today!`);
				document
					.querySelector("#progress > .value > div")
					.setAttribute('style', `width:${limit(100*completed/config.goal)}%`);
				document
					.querySelector("#progress > .post-value")
					.setHTMLUnsafe(`${completed}/${config.goal}`);
			}

			document.querySelector("form")?.addEventListener("submit", async (event) => {
				event.preventDefault();
				refresh(parseInt(event.target.logged.value || "0"));
				event.target.logged.value = null;
			});

			refresh();
			setInterval(refresh, 1000 * 60);
		</script>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght,CRSV@300,0&family=Exo+2&display=swap');

	:root {
		--background: 240 39% 15%;
		--foreground: 157 88% 76%;
		--accent: 319 100% 63%;
	}

	html {
		font-family: "Exo 2", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-size: 10px;
		font-size: clamp(10px, 7.273vw - 13.273px, 18px);
		background-color: hsl(var(--background));
		color: hsl(var(--foreground));
		height: 100dvh;
		display: flex;
		flex-direction: column;
	}

	body {
		margin: 0 auto;
		padding: 1rem 2rem;
		max-width: 40ch;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	h1 {
		font-size: 2.25rem;
		line-height: 0rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		margin: 1rem 0 -3rem 0;
	}

	h1, #target > .value {
		font-family: "Bitcount Prop Single", system-ui;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
		font-variation-settings:
			"slnt" 0,
			"CRSV" 0,
			"ELSH" 0,
			"ELXP" 0;
	}

	#target {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	#target > .value {
		height: 8rem;
		color: hsl(var(--accent));
		font-size: 12rem;
		line-height: 9.5rem;
		padding-left: 2.5rem;
		text-align: center;
		letter-spacing: -1rem;
	}

	#progress {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	#progress > .value {
		height: .5rem;
		width: 100%;
		background: hsl(var(--foreground) / .15);
		border: solid 1px hsl(var(--foreground) / .25);
		border-radius: .25rem;
	}

	#progress > .value > div {
		height: 100%;
		width: 0%; 
		background-color: hsl(var(--foreground));
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		padding: 1rem 0;
	}

	input {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		border-radius: 1.25rem;
		cursor: pointer;
	}

	input[type="submit"] {
		background-color: hsl(var(--foreground));
		color: hsl(var(--background));
		border: solid 2px hsl(var(--foreground));
		flex: 1;
	}

	input[type="number"] {
		background-color: hsl(var(--background));
		color: hsl(var(--foreground));
		border: solid 2px hsl(var(--foreground));
		flex: auto;
	}

</style>