---
import DefaultLayout from '../layouts/default.astro';
import Header from "../components/header.astro";
import Countdown from "../components/countdown.astro";
---
<DefaultLayout>
    <Header slot="header"/>
    <Countdown/>
    <Fragment slot="footer">
        <form id="logRepsForm">
			<input id="logRepsField" type="number" />
			<input type="submit" value="Log" />
		</form>
    </Fragment>
</DefaultLayout>

<script>
    import { logAnalyticsEvent } from '../store/analytics';
	import { logSession } from '../store/countdown';

	logAnalyticsEvent("NAVIGATION");
    const logRepsField = document.getElementById('logRepsField') as HTMLInputElement;
    const logRepsForm = document.getElementById('logRepsForm');
    logRepsForm!.onsubmit = (event) => {
        event.preventDefault();
        const value = logRepsField.value;
        if (value) {
            logSession(parseInt(value));
            logRepsField.value = '';
        }
    }
</script>

<style>
	form {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		padding: 1rem 0;
	}

	input {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		border-radius: 1.25rem;
		cursor: pointer;
	}
	
	input[type="submit"] {
		background-color: hsl(var(--foreground));
		color: hsl(var(--background));
		border: solid 2px hsl(var(--foreground));
		flex: 1;
		box-shadow: 0 0 1rem hsl(var(--foreground) / 50%);
		transition: box-shadow 50ms linear;
	}
	input[type="submit"]:hover {
		box-shadow: 0 .05rem 1.5rem hsl(var(--foreground) / 50%);
	}
	input[type="submit"]:active {
		background-color: hsl(var(--foreground) / 90%);
		border: solid 2px hsl(var(--foreground) / 70%);
		box-shadow: 0 0 .5rem hsl(var(--foreground) / 50%);
	}



	input[type="number"] {
		background-color: hsl(var(--background));
		color: hsl(var(--foreground));
		border: solid 1px hsl(var(--foreground));
		flex: auto;
	}
	input[type="number"]:focus {
		outline: none;
		box-shadow: 0 0 1rem hsl(var(--foreground) / 50%);
	}
</style>