---
---
<button title="sign out" id="signout">ðŸ˜€</button>
<script>
    const button = document.getElementById('signout');
    button?.addEventListener('click', ()=>{
        button.innerHTML = 'â³';
        button.setAttribute('disabled', 'true');

        fetch("/api/auth/signout", { method: "GET" })
        .then((response) => {
            if (response.status === 200) {
                window.location.reload();
            } else {
                button.innerHTML = 'ðŸ˜µ';
                button.setAttribute('disabled', 'false');
            }
        });
    });
</script>
<style>
    button {
        background: none;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
</style>